// Body
$body-bg: #fefffd;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ff9900;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$brown-dark: #3d362d;
$brown-light: #665847;

$primary: #333333;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1400px 
);

$container-max-widths: (
  sm: 560px,
  md: 1000px,
  lg: 1260px,
  xl: 1360px
) !default;
